*{
  box-sizing: border-box;
}
body{
  color: #333;
}
img{
  max-width: 100%;
  /* height: 20rem; */
}
main {
  padding: 10px;
  max-width: 960px;
  margin: 0 auto;
}

header{
  display: flex;
  background-color: antiquewhite;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
  align-items: center;
}

header a{
  text-decoration: none;
  color: inherit;
}

header a.logo{
  font-weight: bold;
  font-size: 1.4rem;
}

header nav{
  display: flex;
  gap: 15px;
}

.post{
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  margin-bottom: 30px;
}
@media screen and (min-width:600px){
  .post{
    grid-template-columns: 0.9fr 1.1fr;
  }
}

.post .content h2{
  margin: 0;
  font-size: 1.7rem;
}

.post .content a{
  text-decoration: none;
  color: inherit;
}

.post .info{
  margin: 6px 0;
  color: #888;
  font-size: .7rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

.post .info a{
  text-decoration: none;
  color: #333;
}

.post .summary{
  margin: 10px 0;
  line-height: 1.5rem;
}

form.login, form.register{
  max-width: 400px;
  margin: 0 auto;
}
input{
  /* display: block; */
  margin: 10px;
  width: 100%;
  padding: 5px 8px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

button{
  padding: 10px;
  background-color: #888;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  margin: 5px;
}

form .register h1, form .login h1{
  text-align: center;
}

.post-page .image{
  max-height: 200px;
  overflow: hidden;
  display: flex;
}

.post-page .image img{
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

.post-page a{
  color: #333;
  text-decoration: underline;
}

.post-page h1{
  text-align: center;
  margin: 10px 0px 5px;
}

.post-page time{
  text-align: center;
  display: block;
  font-size: .7rem;
  color: #aaa;
}

.post-page .author{
  text-align: center;
  margin-bottom: 20px;
  font-size: 0.7rem;
  font-weight: bold;
}

.post-page .content p{
  line-height: 1.6rem;
}

.edit-row{
  text-align: center;
}

.post-page a.edit-btn{
  background-color: #333;
  display: inline-flex;
  align-items: center;
  color: #fff;
  gap: 5px;
  padding: 10px 10px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 15px;
}

a svg{
  height: 20px;
}
